<div class="flex flex-col md:flex-row border-b border-gray-400">
  <h2 class="text-3xl font-bold mb-2 md:w-32 flex-shrink-0 flex-grow-0">{{ .Key }}</h2>
  
  <ol class="md:pt-3 mb-4">
    {{ range where .Pages "Type" "ne" "page" -}}
    <li>
      {{ if .Params.opinion}}
      💬 <a href="{{ .Params.opinion }}"> {{ .Title }}</a>
      {{ else if .Params.presentation }}
      📢 <a href="{{ .Params.presentation }}"> {{ .Title }}</a>
      {{ else if .Params.project }}
      🔧 <a href="{{ .Params.project }}"> {{ .Title }}</a>
      {{ else if .Params.sprint }}
      🔍 <a href="{{ .RelPermalink }}"> {{ .Title }}</a>
      {{ else }}
      ✏️ <a href="{{ .RelPermalink }}"> {{ .Title }}</a>
      {{ end }}
    </li>
    {{- end }}
  </ol>
</div>

